#slider {
   position: relative;
   overflow: hidden;
}

#slider, #slider img, #slider ul{
  width: 420px;
  height: 235px;
}

#slider li,#slider ul{
  padding:0;
  margin:0;
}

#slider ul {
   position: absolute;
}

#slider .slide {
   float: left;
   position: relative;
   display: none;
}

/*For sane browsers..*/
#slider .slide:first-child{
  display: block;
}

#slider .slide span {
  position: absolute;
  left: 0;
  padding: 10px 13px 25px 10px;
  opacity: 0.7; /*this is only used for non-IE on the first slide, before js is loaded, use spanOpacity option to change opacity*/
  background-color: #000;
  color: #fff;
  bottom: 0;/*remove this and it will be on top*/
}